.about-title {
  display: flex;
  justify-content: center;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 34px;
  line-height: 1.24;
  text-align: center;
  color: #070707;
  margin-bottom: 18px;
  margin-top: 120px;
}
.about-item {
  display: flex;
  justify-content: center;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #070707;
}
h1,
ul {
  margin: 0;
}
.about-list {
  margin-bottom: 107px;

  list-style: none;
}
