<h1 class="about-title">About me</h1>
<ul class="about-list">
    <li>
        <p class="about-item">Hi, I'm Denis – UX/UI designer from Minsk.
            <br>I'm interested in design and everything connected with it.
            </br>
    </li>
    <li>
        <p class="about-item">I'm studying at courses "Web and mobile design
            <br> interfaces" in IT-Academy. </br>
        </p>
    </li>
    <li>
        <p class="about-item about-item__three ">Ready to implement excellent projects
            <br> with wonderful people. </br>
        </p>

    </li>
</ul>





