<header class="header">
	<div class="container header__container">
		<nav class="header-nav">
			<ul class="list header-nav-list">
				<li class="header-nav-list__item">
					<a class="link current header-nav-list__link" href=""
						><span class="header-nav-list__text">Home</span></a
					>
				</li>
				<li class="header-nav-list__item">
					<a class="link header-nav-list__link" href=""
						><span class="header-nav-list__text">About me</span></a
					>
				</li>
				<li class="header-nav-list__item">
					<a class="link header-nav-list__link" href=""
						><span class="header-nav-list__text">Skills</span></a
					>
				</li>
				<li class="header-nav-list__item">
					<a class="link header-nav-list__link" href=""
						><span class="header-nav-list__text">Portfolio</span></a
					>
				</li>
				<li class="header-nav-list__item">
					<a class="link header-nav-list__link" href=""
						><span class="header-nav-list__text">Contacts</span></a
					>
				</li>
			</ul>
			<button
			class="button mob-menu-open js-open-menu"
			aria-expanded="false"
			aria-controls="mob-menu"
			type="button"
		>
			<svg height="40" width="40">
				<use href="./images/icons.svg#menu_40px"></use>
			</svg>
		</button>
	</div>
	<div class="mob-menu js-menu-container" id="mob-menu">
		<button class="button mob-menu-close js-close-menu" type="button">
			<svg width="40" height="40">
				<use href="./images/icons.svg#close_40px"></use>
			</svg>
		</button>
		<ul class="list mob-menu-header-list">
			<li class="mob-menu-header-list__item">
				<a class="link current" href="">Home</a>
			</li>
			<li class="mob-menu-header-list__item">
				<a class="link" href="">About me</a>
			</li>
			<li class="mob-menu-header-list__item">
				<a class="link" href="">Skills</a>
			</li>
						<li class="mob-menu-header-list__item">
				<a class="link" href="">Portfolio</a>
			</li>
						<li class="mob-menu-header-list__item">
				<a class="link" href="">Contacts</a>
			</li>
		</ul>
	
		</nav>
		
	</div>
</header>
