<section>
	<div class="container">
		<h2 class="portfolio__title">Portfolio</h2>
		<ul>
			<li>
				<picture>
					<source srcset="./images/portfolio1x1.png 1x, ./images/portfolio2x1.png 2x" />
					<img
						class="portfolio__img"
						src="./images/portfolio1x1.png"
						alt="наша работа"
						width="370"
						height="294"
					/>
				</picture>
				<p class="portfolio__link">Online fashion store - Homepage</p>
				<picture>
					<source srcset="./images/portfolio1x2.png 1x, ./images/portfolio2x2.png 2x" />
					<img
						class="portfolio__img"
						src="./images/portfolio1x2.png"
						alt="наша работа"
						width="370"
						height="294"
					/>
				</picture>
				<p class="portfolio__link">Reebok Store - Concept</p>
				<picture>
					<source srcset="./images/portfolio1x3.png 1x, ./images/portfolio2x3.png 2x" />
					<img
						class="portfolio__img"
						src="./images/portfolio1x3.png"
						alt="наша работа"
						width="370"
						height="294"
					/>
				</picture>
				<p class="portfolio__link">Braun Landing Page - Concept</p>
	</div>
</section>
