<section class="scills">
  <h2 class="scills__title">Skills</h2>
  <p class="scills__text">I work in such programs as</p>
  <ul class="apps__list">
    <li class="apps__item">
      <!-- <img class="apps__img" src="./images/PS.jpg" alt="" />
      <p class="apps__name">Adobe Photoshop</p> -->
      <figure class="apps__card">
        <img class="apps__img" src="./images/PS.jpg" alt="" />
        <figcaption class="apps__name">Adobe Photoshop</figcaption>
      </figure>
      <ul class="rating">
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__grey-star"></li>
      </ul>
    </li>
    <li class="apps__item">
      <!-- <img class="apps__img" src="./images/AI.jpg" alt="" />
      <p class="apps__name">Adobe Illustrator</p> -->

      <figure class="apps__card">
        <img class="apps__img" src="./images/AI.jpg" alt="" />
        <figcaption class="apps__name">Adobe Illustrator</figcaption>
      </figure>

      <ul class="rating">
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__grey-star"></li>
        <li class="rating__grey-star"></li>
      </ul>
    </li>
    <li class="apps__item">
      <!-- <img class="apps__img" src="./images/AE.jpg" alt="" />
      <p class="apps__name">Adobe After Effects</p> -->
      <figure class="apps__card">
        <img class="apps__img" src="./images/AE.jpg" alt="" />
        <figcaption class="apps__name">Adobe After Effects</figcaption>
      </figure>
      <ul class="rating">
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__grey-star"></li>
      </ul>
    </li>
    <li class="apps__item">
      <!-- <img class="apps__img" src="./images/figma.jpg" alt="" />
      <p class="apps__name">Figma</p> -->
      <figure class="apps__card">
        <img class="apps__img" src="./images/figma.jpg" alt="" />
        <figcaption class="apps__name">Figma</figcaption>
      </figure>
      <ul class="rating">
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__black-star"></li>
        <li class="rating__grey-star"></li>
      </ul>
    </li>
  </ul>
</section>
